.fragment {
  background: none;
  cursor: pointer;
}
.fragment.active {
  background: yellow;
}
.Slider {
  position: relative;
  height: 500px;
  width: 900px;
  margin: 0 auto;
  overflow: hidden;
}
.Text {
  margin: 10px;
  border: 1px solid black;
  padding: 20px;
}
