.text-wrapper #inputBox {
  height: 20px;
  width: 100px;
  position: absolute;
  top: 30%;
  opacity: 0;
  cursor: default;
}
.text-wrapper .text-con {
  border: solid #555 2px;
  margin-top: 20px;
  height: 130px;
  width: 700px;
  overflow-y: auto;
  font-size: 1rem;
  font-family: monospace;
  padding: 1rem;
  line-height: 1.5rem;
}
